* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.circulo {
    position: absolute;
    width: 35%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.texto {
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    font-size: 90%;
    text-align: center;
}

.celeste {
    background-color: #60C9F1;
    height: 250px;
    margin-top: 5%;
    border-radius: 7px;
}

.naranja {
    background-color: #FBA244;
    height: 250px;
    margin-top: 5%;
    border-radius: 7px;
}

.covid, .cuidarnos, .aprende, .sigue{
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;

}

.iconoCorona,
.iconoJabon {
    width: 25%;
}

.iconoMascara {
    width: 38%;
    margin-top: 4%;
}

.iconoGuante {
    width: 20%;
}

.icono .bloque {
    height: 300%;
}

.imgBloque {
    width: 60%;
    height: 60%;
    margin-top: 15%;
}

button {
    padding-top: 30px;
    border-style: none;
}

.colorUno {
    color: #572A99;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em;
}
.guantrini{
    color:#8E64B7;
    font-weight: bold;
}

.colorDos {
    color: #FF9E3D;
    font-weight: bold;
    font-size: 1em;
}


.colorTres {
    color: #137AC8;
    font-weight: bold;
}

.colorCuatro {
    color: #D8695E;
    font-weight: bold;
}
/*.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}*/
.botones{
margin-top:-1%;
}

@media screen and (max-width: 320px){
    .naranja, .celeste{
        height: 24vh;
        
    }
    .iconoCorona {
        margin-top: -6%;
    }
    .iconoMascara {
        margin-top: -4%;
    }
    .iconoJabon{
        margin-top: -8%;
        width: 20%;
    }
    .iconoGuante{
        margin-top: -6%;
        width: 15%;
    }
    .botonesHome{
        margin: 0%;
    }
    .botonesDos{
        margin: 0%;
    }
    .bloque{
        margin: 0%;
        margin-top: -3%;
    }
    .colorUno{
        margin-top: 2%;
    }
}