.ini{
    background: url(../img/iniciogav.png);  
    height: 110vh;
    width: 100vw;
 
}  
.patrulla{
   margin-top: 40%;
}

.letras{
    margin-top: 20%;
}

h1{
    position: absolute;
    color: #572A99;
}
.dos{
    position: absolute;
    color: #572A99;
}
h4{
    position: absolute;
    color: #FA8102;
    }
.btn{
    background-color: #572A99;
    border-radius: 48px;
}  
@media screen and (max-width: 320px){

    .patrulla{
        margin-top: 24%;
     }
}  