.ini{
    background: url(../img/iniciogav.png);  
    height: 90vh;
    border: 1px solid yellow;
} 
/* .pantalla{
    height: 100vh;
} */
.patrulla{
    width: 30%;
    height: 30%; 
}
h2{
    position: absolute;
    width: 639px;
    height: 118px;
    left: 705px;
    top: 291px;
    color: #572A99;
}
h5{
    position: absolute;
    width: 479px;
    height: 30px;
    left: 702px;
    top: 448px;
    color: #FA8102;
    }