.rectangulo{
    background-color: #A784C8;
    border-radius: 10px;
    height: 25vh;
    width: 50vw;
    margin-top: 5%;
}
.colorsh{
 color: #D8695E;
}
.Javiers{
    margin-top: 2%;
}
.cuadrado{
    background-color: #D8695E;
    border-radius: 10px;
    height: 25vh;
    width: 50vw;
    margin-top: 5%;
}
