@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: 'Montserrat', sans-serif; 
    font-size: 13px;
    
}

.bloqueCeleste {

    background-color: #72BAEC;
    background: rgba(114, 186, 236, 0.4);
    border-radius: 23px;
    margin-top: 4%;
    margin-left: 8%;
}

.bloqueMorado, .bloqueCorona {
    background-color: #A784C8;
    border-radius: 46px;
    height: 40%;
    width: 70%;
    margin-top: 12%;
    display: flex;
    align-self: center;
    box-shadow: 0px 14px 6px rgba(0, 0, 0, 0.25);
}

.imCorona{
    margin-left: 32%;
    margin-top: 3%;
}

.head{
    width: 98%;
    height: 11vh;
}

.mascarilla{
    width: 116%;
    height: 122%;
    margin-top: 6%;
}
.encabezado{
    display: flex;
    margin-top: 4%;
    
}

.masc{
    width: 80%;
    height: 77%;
}

.tomask{
    margin-left: 10%;
    margin-top: 10%;
    font-size: 14px;
}

.lavate{
    font-size: 1em;
    display: flex;
    align-self: stretch;
    font-weight: bold;
   
}
.cubrete{
    font-size: 1em;
    display: flex;
    align-self: stretch;
    font-weight: bold; 
    margin-top: 2%;
}

.usa{
    font-size: 1em;
    display: flex;
    align-self: stretch;
    font-weight: bold; 
    margin-top: 2%;
}

.seobediente{
    font-size: 1em;
    display: flex;
    align-self: stretch;
    font-weight: bold;  
    margin-top: 2%;
}

.toMask{
    color: #137AC8;
    font-weight: bold;
    font-size: 1em;
}
.altoser{
    align-self: stretch;
    margin-top: -1%;
}
.nodes, .siempre{
    margin-top: -1%; 
}
.divertido{
    font-weight: bold;  
    margin-top: 4%;
    text-align: center;
    width: 70%;
    margin-bottom: 3%;
}
.jabon{
    width: 30%;
    margin-left: 12%;
    margin-top: 6%;
    
}

.juegos{
    margin-top: 2%;
    margin-left: 3%;
}
.demuestra{
    text-align: center;
    width: 118%;
    font-weight: 500;
    margin-top: 53%;
    margin-left: -6%;
}

.protegerte{
    text-align: center;
    width: 118%;
    font-weight: 500;
    margin-top: 63%;
    margin-left: 3%;
}
.parrafoDos{
    margin-top: 3%;
    margin-left: -54%;
}
.footer{
    width: 100%;
    height: 5vh;
}

.aJugar{
    margin-top: -59%;
    margin-left: -166%;
    font-weight: bold;
    font-size: 1.5em;
}
.aJugarDos{
    margin-left: -166%;
    font-weight: bold;
    font-size: 1.5em;
}
.pumaEspumas{
    margin-left: 37%;
    margin-top: 6%;
}
.prevencion{
    margin-top: 18%;
    margin-left: -49%;
}

.textJugar{
    margin-top: 75%;
    display: flex;
    text-align: center;
    align-self: center;
}
.vamosDos{
    margin-top: 64%;
}
@media screen and (max-width: 320px){
    .bloqueCeleste{
        margin: 3%;
    }
    
    .mascarilla{
        width: 123%;
        height: 116%;
}
.tomask{
    margin-top: 1%;
    font-size: 1em;
}
.divertido {
    width: 100%;
}
.jabon{
    margin-left: 25%;
}
.bloqueMorado, .bloqueCorona{
    width: 103%;
    margin: 1%;
    margin-left: -3%;
    height: 48vh;
}
.pumaEspumas{
    margin-top: 6%;
    margin-left: 35%;
}
.demuestra{
    margin-top: 59%;
    margin-left: -11%;
}
.aJugar{
    margin-left: -154%;
}
.textJugar{
    margin-left: -9%;
    margin-top: 88%;
}
.w-100{
    margin-top: 8%;
}
.protegerte{
    width: 122%;
    margin-top: 73%;
    margin-left: 1%;
}
.aJugarDos{
    margin-left: -149%;
    margin-top: 39%;
}
.instrucciones{
    margin-top: 9%;
}
}