.contenedorDescarga {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenedorTexto {
    display: flex;
    border-radius: 10px;
    width: 80%;
}

.imagenDescarga {
    width: 15%;
    margin-left: 50px;
    margin-right: 50px;
}

.colorDescarga {
    background-color: #A784C8;
    height: 25vh;
    width: 50vw;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    color: black;
    font-size: 125%;
    font-weight: 500;
}

.colorDescargaDos {
    background-color: #D8695E;
    height: 25vh;
    width: 50vw;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 125%;
    font-weight: 500;
    text-align: center;
}


.contenedorTres {
    display: flex;
    flex-direction: row;
}

.morado {
    background-color: #572A99;

}

.naranjo {
    background-color: #EC8213;

}

.cajaDescargaMorado {
    background-color: #572A99;
    width: 33%;
    height: 39px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    font-weight: 500;

}

.cajaDescargaNaranjo {
    background-color: #EC8213;
    width: 33%;
    height: 39px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    font-weight: 500;
}

.textoTres {
    font-weight: bold;
}

.textoCuatro {
    font-size: 110%;
    font-weight: bold;
}

.textoNaranjo {
    color: #EC8213;
    font-size: 125%;
    font-weight: bold;
}

.colorBoton {
    color: white
}

@media screen and (max-width: 320px) {
    .contenedorDescarga {
        display: flex;
        flex-direction: column;


    }

    .contenedorTexto {
        display: flex;
        flex-direction: column-reverse;
        border-radius: 10px;
        width: 80%;
        align-items: center;
    }

    .contenedorTextoDos {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 80%;
        align-items: center;
    }


    .colorDescarga {
        background-color: #A784C8;
        height: 150px;
        width: 300px;
        font-size: 85%;
        border-radius: 17px;

    }

    .colorDescargaDos {
        background-color: #D8695E;
        width: 300px;
        font-size: 85%;
        border-radius: 17px;
        height: 160px;
    }


    .contenedorTres {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cajaDescargaNaranjo {
        height: 45px;
        width: 130%;
        color: white;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cajaDescargaMorado {
        height: 45px;
        width: 130%;
        color: white;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .imagenDescarga {
        width: 30%;
    }

    .contenedorDescarga {
        margin-top: 30px;
    }
}