.virus{
    height: 70%;
    width: 100vw;
    z-index: -1;
    }
.footer{
    width: 100%;
}    
@media screen and (max-width: 320px){
.colorFondo{
    background-color: #FF9E3D;
    width: 100%;
}

.footer {
    width: 100%; 
}
.pagTres{
width: 100%;
    display: flex;
    justify-content: center;
}
}